body {
    text-align: center;
    color: red;
}

h1 {
    font-family: Roboto;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 7.5px;
}

td {
    width: 5px;
}

input[type=number] {
    width: 6em;
}
